<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704089518480-461lk96umbb7bbkt7cnlla0qftts6cv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704089518480-461lk96umbb7bbkt7cnlla0qftts6cv9</string>
	<key>API_KEY</key>
	<string>AIzaSyAWhztHoanxMKQICMZfttFse7WE3JlLGmE</string>
	<key>GCM_SENDER_ID</key>
	<string>704089518480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ankitRoy.BCDetect</string>
	<key>PROJECT_ID</key>
	<string>breast-cancer-detection-a2fee</string>
	<key>STORAGE_BUCKET</key>
	<string>breast-cancer-detection-a2fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:704089518480:ios:fa6b2bc3b5857da49f4315</string>
	<key>DATABASE_URL</key>
	<string>https://breast-cancer-detection-a2fee.firebaseio.com</string>
</dict>
</plist>
